{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class="flex flex-wrap justify-center content-center p-10" style="min-height: 50vh;">

		<div class="w-full max-w-lg">

			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}

			<h1 class="text-xl font-bold text-slate-950 mb-2">Register</h1>


			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}

			<div class="flex flex-wrap mb-6">
				<div class="w-full">
					<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="inputEmail">
						{{ field_label(registrationForm.email) }}
					</label>
					<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="{{ field_name(registrationForm.email) }}" value="{{ field_value(registrationForm.email) }}" placeholder="{{ field_label(registrationForm.email) }}">
				</div>

				<div class="w-full">
					<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="inputEmail">
						{{ field_label(registrationForm.plainPassword) }}
					</label>
					<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="{{ field_name(registrationForm.plainPassword) }}" value="{{ field_value(registrationForm.plainPassword) }}" placeholder="{{ field_label(registrationForm.plainPassword) }}">
				</div>

				<div class="w-full mb-2">
					{{ form_row(registrationForm.agreeTerms) }}
				</div>

				<div>
					<button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 border-4 text-white py-1 px-2 rounded" type="submit">
						Register
					</button>
				</div>

			</div>

			{{ form_end(registrationForm) }}

		</div>

	</div>
{% endblock %}
